In [112]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [228]:
diamonds_train = pd.read_csv('../data/diamonds_train.csv')
diamonds_predict = pd.read_csv('../data/diamonds_predict.csv')

In [178]:
diamonds_train.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1   0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2   0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3   0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4   1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95

In [179]:
diamonds_train.shape

(40455, 10)

In [180]:
diamonds_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    40455 non-null  float64
 1   cut      40455 non-null  object
 2   color    40455 non-null  object
 3   clarity  40455 non-null  object
 4   depth    40455 non-null  float64
 5   table    40455 non-null  float64
 6   price    40455 non-null  int64
 7   x        40455 non-null  float64
 8   y        40455 non-null  float64
 9   z        40455 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.1+ MB

In [117]:
#df_vol.drop(['Unnamed: 0'],axis=1,inplace=True)

In [181]:
diamonds_train

       carat        cut color clarity  depth  table  price     x     y     z
0       1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1       0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2       0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3       0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4       1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
40450   1.34      Ideal     G     VS1   62.7   57.0  10070  7.10  7.04  4.43
40451   2.02       Good     F     SI2   57.1   60.0  12615  8.31  8.25  4.73
40452   1.01      Ideal     H     SI1   62.7   56.0   5457  6.37  6.42  4.01
40453   0.33      Ideal     J     VS1   61.9   54.3    456  4.45  4.47  2.76
40454   1.24      Ideal     I     SI1   62.0   58.0   6232  6.83  6.88  4.25

[40455 rows x 10 columns]

In [182]:
diamonds_train.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [222]:
target = 'price'
cat_features = ['cut', 'color', 'clarity']
num_features = ['carat', 'depth', 'table']
features = num_features + cat_features

In [184]:
def category_onehot_multcols(multcolumns):
    df_final=final_df
    i=0
    for fields in multcolumns:
        
        print(fields)
        df1=pd.get_dummies(final_df[fields],drop_first=True)
        
        final_df.drop([fields],axis=1,inplace=True)
        if i==0:
            df_final=df1.copy()
        else:
            
            df_final=pd.concat([df_final,df1],axis=1)
        i=i+1
       
        
    df_final=pd.concat([final_df,df_final],axis=1)
        
    return df_final

PREDICT DATA FRAME LOADING

In [229]:
diamonds_predict = pd.read_csv('../data/diamonds_predict.csv')

In [186]:
diamonds_predict

          id  carat        cut color clarity  depth  table     x     y     z
0          0   0.79  Very Good     F     SI1   62.7   60.0  5.82  5.89  3.67
1          1   1.20      Ideal     J     VS1   61.0   57.0  6.81  6.89  4.18
2          2   1.57    Premium     H     SI1   62.2   61.0  7.38  7.32  4.57
3          3   0.90  Very Good     F     SI1   63.8   54.0  6.09  6.13  3.90
4          4   0.50  Very Good     F     VS1   62.9   58.0  5.05  5.09  3.19
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
13480  13480   0.57      Ideal     E     SI1   61.9   56.0  5.35  5.32  3.30
13481  13481   0.71      Ideal     I     VS2   62.2   55.0  5.71  5.73  3.56
13482  13482   0.70      Ideal     F     VS1   61.6   55.0  5.75  5.71  3.53
13483  13483   0.70  Very Good     F     SI2   58.8   57.0  5.85  5.89  3.45
13484  13484   0.40      Ideal     I    VVS2   62.4   55.0  4.70  4.73  2.94

[13485 rows x 10 columns]

In [124]:
#df_vol_predict.drop(['Unnamed: 0'],axis=1,inplace=True)

In [187]:
diamonds_predict.head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   0.79  Very Good     F     SI1   62.7   60.0  5.82  5.89  3.67
1   1   1.20      Ideal     J     VS1   61.0   57.0  6.81  6.89  4.18
2   2   1.57    Premium     H     SI1   62.2   61.0  7.38  7.32  4.57
3   3   0.90  Very Good     F     SI1   63.8   54.0  6.09  6.13  3.90
4   4   0.50  Very Good     F     VS1   62.9   58.0  5.05  5.09  3.19

In [188]:
from sklearn.model_selection import train_test_split

In [278]:
diamonds_train, diamonds_test = train_test_split(diamonds_train, test_size=0.2)

In [279]:
print(diamonds_train.shape)
print(diamonds_test.shape)

(32364, 10)
(8091, 10)

In [280]:
final_df=pd.concat([diamonds_train,diamonds_test],axis=0)

In [281]:
final_df['price']

36432    10080
10117      596
32499     3287
3566      2323
17057    11093
         ...
8425      2777
22558      854
3955       956
10883      559
16998      494
Name: price, Length: 40455, dtype: int64

In [282]:
final_df.shape

(40455, 10)

In [283]:
final_df = category_onehot_multcols(cat_features)

cut
color
clarity

In [284]:
final_df.shape

(40455, 24)

In [285]:
final_df =final_df.loc[:,~final_df.columns.duplicated()]

In [286]:
final_df

,carat,depth,table,price,x,y,z,Good,Ideal,Premium,...,H,I,J,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
36432,1.50,63.5,60.0,10080,7.25,7.21,4.59,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10117,0.34,61.7,56.0,596,4.49,4.52,2.78,0,1,0,...,0,0,0,0,1,0,0,0,0,0
32499,0.74,62.5,55.0,3287,5.76,5.79,3.61,0,1,0,...,1,0,0,0,0,0,0,0,1,0
3566,1.01,60.9,63.0,2323,6.51,6.43,3.94,0,0,0,...,0,1,0,0,1,0,0,0,0,0
17057,1.52,62.4,56.0,11093,7.26,7.36,4.56,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8425,0.70,61.1,60.0,2777,5.71,5.64,3.47,0,0,1,...,0,0,0,0,0,0,0,1,0,0
22558,0.33,61.6,55.0,854,4.48,4.45,2.75,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3955,0.30,62.9,58.0,956,4.25,4.21,2.66,0,0,1,...,0,0,0,1,0,0,0,0,0,0
10883,0.31,60.9,57.0,559,4.37,4.39,2.67,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16998,0.32,62.3,54.0,494,4.41,4.43,2.75,0,1,0,...,0,0,1,0,0,0,0,0,1,0

In [319]:
final_df.columns

Index(['carat', 'depth', 'table', 'price', 'x', 'y', 'z', 'Good', 'Ideal',
       'Premium', 'Very Good', 'E', 'F', 'G', 'H', 'I', 'J', 'IF', 'SI1',
       'SI2', 'VS1', 'VS2', 'VVS1', 'VVS2'],
      dtype='object')

In [287]:
df_Train=final_df.iloc[:32364,:]
df_Test=final_df.iloc[32364:,:]

In [288]:
df_Train.head()

,carat,depth,table,price,x,y,z,Good,Ideal,Premium,...,H,I,J,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
36432,1.50,63.5,60.0,10080,7.25,7.21,4.59,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10117,0.34,61.7,56.0,596,4.49,4.52,2.78,0,1,0,...,0,0,0,0,1,0,0,0,0,0
32499,0.74,62.5,55.0,3287,5.76,5.79,3.61,0,1,0,...,1,0,0,0,0,0,0,0,1,0
3566,1.01,60.9,63.0,2323,6.51,6.43,3.94,0,0,0,...,0,1,0,0,1,0,0,0,0,0
17057,1.52,62.4,56.0,11093,7.26,7.36,4.56,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [289]:
df_Test.head()

,carat,depth,table,price,x,y,z,Good,Ideal,Premium,...,H,I,J,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
11448,0.70,62.3,53.0,2907,5.69,5.73,3.56,0,1,0,...,0,0,0,0,0,0,0,1,0,0
20285,1.01,69.0,61.0,6041,6.06,5.99,4.16,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30322,1.04,62.3,57.0,5102,6.45,6.48,4.03,0,1,0,...,1,0,0,0,1,0,0,0,0,0
31901,2.04,61.4,59.0,13600,8.14,8.04,4.97,0,0,1,...,0,0,1,0,0,0,0,1,0,0
5294,0.43,61.9,55.0,792,4.80,4.95,3.02,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [290]:
df_Train.shape

(32364, 24)

In [291]:
#df_Test.drop(['price'],axis=1,inplace=True)

In [292]:
X_train=df_Train.drop(['price'],axis=1)
y_train=df_Train['price']

PREDICTION

In [293]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb

In [294]:
import xgboost
classifier=xgboost.XGBRegressor()

In [295]:
import xgboost
regressor=xgboost.XGBRegressor()

In [296]:
booster=['gbtree','gblinear']
base_score=[0.25,0.5,0.75,1]

In [297]:
# Hyper Parameter Optimization


n_estimators = [100, 500, 900, 1100, 1500]
max_depth = [2, 3, 5, 10, 15]
booster=['gbtree','gblinear']
learning_rate=[0.05,0.1,0.15,0.20]
min_child_weight=[1,2,3,4]
scoring='neg_root_mean_squared_error',

# Define the grid of hyperparameters to search
hyperparameter_grid = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score,
    'scoring':scoring
    }

In [298]:
from sklearn.model_selection import RandomizedSearchCV

In [299]:

# Set up the random search with 4-fold cross validation
random_cv = RandomizedSearchCV(estimator=regressor,
            param_distributions=hyperparameter_grid,
            cv=5, n_iter=50,
            scoring = 'neg_mean_absolute_error',n_jobs = -1,
            verbose = 5, 
            return_train_score = True,
            random_state=42)

In [300]:
random_cv.fit(X_train,y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:   15.9s
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed: 10.5min
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed: 20.9min
[Parallel(n_jobs=-1)]: Done 250 out of 250 | elapsed: 36.4min finished

[17:19:58] WARNING: /Users/travis/build/dmlc/xgboost/src/learner.cc:516:
Parameters: { scoring } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

RandomizedSearchCV(cv=5,
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_constraints=None,
                                          n_estimators=100, n...
                   n_iter=50, n_jobs=-1,
                   param_distributions={'base_score': [0.25, 0.5, 0.75, 1],
                                        'booster': ['gbtree', 'gblinear'],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2],
                                        'max_depth': [2, 3, 5, 10, 15],
                                        'min_child_weight': [1, 2, 3, 4],
                                        'n_estimators': [100, 500, 900, 1100,
                                                         1500],
                                        'scoring': ('neg_root_mean_squared_error',)},
                   random_state=42, return_train_score=True,
                   scoring='neg_mean_absolute_error', verbose=5)

In [302]:
random_cv.best_estimator_

XGBRegressor(base_score=0.25, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=10,
             min_child_weight=3, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             scoring='neg_root_mean_squared_error', subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [303]:
regressor.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [304]:
random_cv.best_score_

-292.04457015083665

In [305]:
from sklearn.metrics import mean_squared_error

In [306]:
y_pred = random_cv.predict(X_train)

mean_squared_error(y_train, y_pred)**0.5

321.4867021840612

In [159]:
#import pickle
#filename = 'finalized_model.pkl'
#pickle.dump(classifier, open(filename, 'wb'))

In [307]:
df_Test.head()

,carat,depth,table,price,x,y,z,Good,Ideal,Premium,...,H,I,J,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
11448,0.70,62.3,53.0,2907,5.69,5.73,3.56,0,1,0,...,0,0,0,0,0,0,0,1,0,0
20285,1.01,69.0,61.0,6041,6.06,5.99,4.16,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30322,1.04,62.3,57.0,5102,6.45,6.48,4.03,0,1,0,...,1,0,0,0,1,0,0,0,0,0
31901,2.04,61.4,59.0,13600,8.14,8.04,4.97,0,0,1,...,0,0,1,0,0,0,0,1,0,0
5294,0.43,61.9,55.0,792,4.80,4.95,3.02,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [308]:
df_Test.shape

(8091, 24)

In [162]:
#df_Test.drop(['price'],axis=1).head()

In [246]:
#y_pred=regressor.predict(diamonds_predict[num_features])
#y_pred=regressor.predict(diamonds_predict)

In [310]:
sub = pd.read_csv('../data/diamonds_predict.csv')
sub

          id  carat        cut color clarity  depth  table     x     y     z
0          0   0.79  Very Good     F     SI1   62.7   60.0  5.82  5.89  3.67
1          1   1.20      Ideal     J     VS1   61.0   57.0  6.81  6.89  4.18
2          2   1.57    Premium     H     SI1   62.2   61.0  7.38  7.32  4.57
3          3   0.90  Very Good     F     SI1   63.8   54.0  6.09  6.13  3.90
4          4   0.50  Very Good     F     VS1   62.9   58.0  5.05  5.09  3.19
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
13480  13480   0.57      Ideal     E     SI1   61.9   56.0  5.35  5.32  3.30
13481  13481   0.71      Ideal     I     VS2   62.2   55.0  5.71  5.73  3.56
13482  13482   0.70      Ideal     F     VS1   61.6   55.0  5.75  5.71  3.53
13483  13483   0.70  Very Good     F     SI2   58.8   57.0  5.85  5.89  3.45
13484  13484   0.40      Ideal     I    VVS2   62.4   55.0  4.70  4.73  2.94

[13485 rows x 10 columns]

In [311]:
y_pred

array([ 8693.277  ,   648.30695,  3192.912  , ...,   490.01086,
       14297.056  ,  4345.877  ], dtype=float32)

In [334]:
sub[cat_features] = sub.loc[:, cat_features].astype('category')


cat_df_sub = pd.get_dummies(sub[cat_features], drop_first = False)
num_df_sub = sub.loc[:, num_features]

X_sub = pd.concat([cat_df_sub, num_df_sub], axis = 1)

y_pred_sub = random_cv.predict(X_sub)

#sub.shape

ValueError: feature_names mismatch: ['carat', 'depth', 'table', 'x', 'y', 'z', 'Good', 'Ideal', 'Premium', 'Very Good', 'E', 'F', 'G', 'H', 'I', 'J', 'IF', 'SI1', 'SI2', 'VS1', 'VS2', 'VVS1', 'VVS2'] ['cut_Fair', 'cut_Good', 'cut_Ideal', 'cut_Premium', 'cut_Very Good', 'color_D', 'color_E', 'color_F', 'color_G', 'color_H', 'color_I', 'color_J', 'clarity_I1', 'clarity_IF', 'clarity_SI1', 'clarity_SI2', 'clarity_VS1', 'clarity_VS2', 'clarity_VVS1', 'clarity_VVS2', 'carat', 'depth', 'table']
expected G, SI1, VVS1, VS2, VVS2, E, y, I, x, Ideal, z, J, Very Good, F, VS1, SI2, H, IF, Good, Premium in input data
training data did not have the following fields: cut_Fair, color_J, color_I, color_D, color_F, cut_Premium, color_E, cut_Ideal, clarity_SI2, color_G, clarity_VVS1, color_H, cut_Very Good, clarity_VS2, clarity_I1, clarity_SI1, clarity_IF, clarity_VVS2, cut_Good, clarity_VS1

In [320]:
cat_df_sub.columns

Index(['cut_Fair', 'cut_Good', 'cut_Ideal', 'cut_Premium', 'cut_Very Good',
       'color_D', 'color_E', 'color_F', 'color_G', 'color_H', 'color_I',
       'color_J', 'clarity_I1', 'clarity_IF', 'clarity_SI1', 'clarity_SI2',
       'clarity_VS1', 'clarity_VS2', 'clarity_VVS1', 'clarity_VVS2'],
      dtype='object')

In [ ]:
submission = pd.DataFrame({'id': sub.index, 'price': y_pred_sub})

submission.to_csv('submission_new_1809.csv', index=False)

In [240]:
#submission_1809_boosting = diamonds_predict

In [241]:
#submission_1809_boosting = pd.DataFrame({'price': y_pred})

In [242]:
#submission_1809_boosting.index.name='id'

In [301]:
#submission_1809_boosting.describe()

In [ ]:
#submission_vol_1509.price.clip(0, 20000, inplace=True)

In [ ]:
#submission_vol_1509.to_csv('submission_vol_1509.csv')

In [211]:
#pred=pd.DataFrame(ann_pred)
#sub_df=pd.read_csv('../data/df_vol_predict.csv')
#datasets=pd.concat([sub_df['Id'],pred],axis=1)
#datasets.columns=['Id','price']
#datasets.to_csv('submission_1809_boosting.csv',index=False)